/* 514 49th St Sunse Terrace */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: url('./assets/backgrounds/default-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container-fluid {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 5rem;
}
.greeting-quote-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}
#greeting {
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
}
.quote-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: column;
}
#quote {
  font-style: italic;
}

#quote-author {
  align-self: flex-end;
}
.temperature-and-covid-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding-top: 5rem;

  max-width: 100%;
}
.widgets {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  
  width: 30em;
  height: 20em;
  /* padding: 5rem; */
}
#temperature-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.weather-and-temperature-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  
  font-size: 4rem;
}
.hi-lo-container {
  /* outline: 2px solid #fff; */

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  width: 50em;
  height: 30em;

  max-width: 100%;
  max-height: 100%;

  border-radius: 5px;
  /* outline: 2px solid #fff; */
}
.user-info {
  /* outline: 2px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.greeting-instructions-container {
  /* outline: 2px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
#new-user-greeting {
  font-size: 3rem;
  font-weight: 900;
  color: black;
}
#new-user-instructions {
  font-size: 1.5rem;
  color: black;
}
.name-zip-container {
  /* outline: 2px solid #fff; */
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: black;
}
.name-zip-container input {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  color: black;
  font-size: 1.5rem;
}
.save-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
}
#news {
  /* outline: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#content-title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#headlines-container
{
  /* outline: 1px solid #fff; */

  display: flex;
  flex-direction: column;
  align-items: flex=start;
  gap: .7rem;
}
.headline, .headline a
{
  /* outline: 1px solid #fff; */
  color: #fff;
  text-decoration: none;
}
nav {
  /* outline: 2px solid #fff; */
  width: 100%;

  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  padding: 1rem;
}
.nav-container {
  /* outline: 2px solid #fff; */

  width: 100%;
  display: flex;
}
.nav-link {
  /* outline: 2px solid #fff; */

  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}
.nav-link:hover {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #quote-author {
    align-self: center;
  }
  #greeting {
    font-size: 2.5rem;
    text-align: center;
  }
  #quote {
    text-align: center;
    line-height: 1.8rem;
  }
  .name-zip-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .name-zip-container input {
    font-size: 1.5rem;
    max-width: 50%;
  }
  nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  .nav-container {
    justify-content: space-evenly;
  }
  /* .temperature-and-covid-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .widgets {
    max-width: 100%;
  } */
  /* #temperature {
    padding-bottom: 2rem;
  } */
}