body {
  background-image: url("../assets/raw-images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* Without Bootstrap */ 
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */

  text-align: center;
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.sign-up-login-buttons-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
a { 
  color: #fff; 
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.btn {
  padding: 5px 25px 5px 25px;
}
.form-container {
  position: absolute;
  
  max-width: 800px;
  min-width: 300px;

  min-height: 500px;

  color: #fff;
  background-image: url("./assets/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: rgba(206, 206, 206, 0.5); */
  /* background-color: rosybrown; */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
  outline: none;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
}
.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.form-title {
  outline: 2px solid #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.labels-responsive {
  display: none;
}
.hidden {
  display: none;
}
@media (max-width: 1100px) {
  .form-container {
    flex-direction: row;
  }
  .labels {
    display: none;
  }
  .labels-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}