body {
    position: relative;
    margin: 4px;
    /* background-color: steelblue; */
    font-family: 'Bree Serif', serif;
    /* background: linear-gradient(to right, rgb(60, 114, 138), rgb(18, 85, 116), rgb(46, 130, 167)); */
    /* background-image: image("../assets/tile_background.png"); */
    /* border: 2px solid black;
    padding: 25px; */
    /* background-repeat: url("../assets/default-bg.jpg"); */
    /* background: url('../assets/backgrounds/afternoon-bg.jpg'); */
    background: url('../assets/backgrounds/tile_background.png') top left repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    background-color: #660000;
    margin-top: 0px;
    border-radius: 10px;
}


/* .navbar {
    margin: -10px;
} */

h1,
h2 {
    text-align: center;
    color: white;
    font-weight: 100;
}

h2 {
    background-color: rgb(0, 19, 30);
    padding-bottom: 15px;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
}

.country-holder {
    background-color: rgb(18, 85, 116);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 100px;
}

.separate {
    margin-bottom: 89px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin: 1px;
    padding: 25px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(112, 112, 112, 0.19);
}

.recover {
    background-color: #006600;
}

#container1 {
    /* margin-left: auto;
    margin-bottom: 120px; */
    /* padding-left: 34px;
    padding-right: 34px; */
    margin-left: 30%;
    max-width: 50%;
    margin-top: -75px;
    transform: scale(1);
    transform-origin: 0 0;
}

.datamap {
    zoom: 250%;
}

.datamaps-subunits {
    height: 100%;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    #container1 {
        margin-left: 0%;
    }
    .datamap {
        zoom: 130%;
    }
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}